<%= div_for participante do %>

<% persona = User.find(participante.persona_id)%>
<% rol = Rol.find(participante.rol_id) if !participante.rol_id.nil?%>
<li class="list-group-item">
                    <i class="icon-user pull-left text-info"></i>
                        <p class="title"><%= link_to persona.name , edit_participante_path(participante) %>  <%= rol.nombre if !participante.rol_id.nil? %>
						<span class='actions'>
							<%= link_to 'X', participante_path(participante), confirm: 'Are you sure?', method: :delete,:class => "btn btn-mini btn-primary" %>
						</span>
						</p>
</li>


<% end %>